[Unit]
Description=Apache Kafka Server
After=syslog.target network.target

[Service]
Type=simple
User=kafka
Group=kafka
EnvironmentFile=/etc/sysconfig/kafka
ExecStartPre=/usr/libexec/kafka-prepare-log-dirs $KAFKA_SERVER_CONFIG
ExecStart=/usr/bin/kafka/kafka-server-start.sh $KAFKA_SERVER_CONFIG
# ExecReload=/usr/bin/kafka/kafka-server-stop.sh $KAFKA_SERVER_CONFIG
ExecReload=/usr/bin/kill -HUP $MAINPID

# -daemon mode
# Type=forking
# User=kafka
# Group=kafka
# EnvironmentFile=/etc/sysconfig/kafka
# ExecStartPre=/usr/libexec/kafka-prepare-log-dirs $KAFKA_SERVER_CONFIG
# ExecStart=/usr/bin/kafka/kafka-server-start.sh $KAFKA_SERVER_CONFIG
# ExecStartPost=/bin/bash -c "/bin/echo $MAINPID > $PID_FILE"
# ExecStopPost=/bin/rm -f $PID_FILE
# ExecReload=/usr/bin/kafka/kafka-server-stop.sh $KAFKA_SERVER_CONFIG
# ExecReload=/usr/bin/kill -HUP $MAINPID

# Place temp files in a secure directory, not /tmp
PrivateTmp=true

[Install]
WantedBy=multi-user.target
