[Unit]
Description=Kafka ZooKeeper Server
After=syslog.target network.target

[Service]
Type=simple
User=zookeeper
Group=zookeeper
EnvironmentFile=/etc/sysconfig/kafka-zookeeper
ExecStart=/usr/bin/kafka/zookeeper-server-start.sh $KAFKA_SERVER_CONFIG
# ExecReload=/usr/bin/kafka/zookeeper-server-stop.sh $KAFKA_SERVER_CONFIG
ExecReload=/usr/bin/kill -HUP $MAINPID

# -daemon mode
# Type=forking
# User=zookeeper
# Group=zookeeper
# EnvironmentFile=/etc/sysconfig/kafka-zookeeper
# ExecStart=/usr/bin/kafka/zookeeper-server-start.sh $KAFKA_SERVER_CONFIG
# ExecStartPost=/bin/bash -c "/bin/echo $MAINPID > $PID_FILE"
# ExecStopPost=/bin/rm -f $PID_FILE
# ExecReload=/usr/bin/kafka/zookeeper-server-stop.sh $KAFKA_SERVER_CONFIG
# ExecReload=/usr/bin/kill -HUP $MAINPID

# Place temp files in a secure directory, not /tmp
PrivateTmp=true

[Install]
WantedBy=multi-user.target
